@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

@layer base {
    :root {
        --background: 271.5 100% 95%;
        --foreground: 271.5 5% 10%;
        --bar: 240 5% 11%;
        --card: 271.5 50% 90%;
        --card-foreground: 271.5 5% 15%;
        --popover: 271.5 100% 95%;
        --popover-foreground: 271.5 100% 10%;
        --primary: 271.5 81.3% 55.9%;
        --primary-foreground: 0 0% 100%;
        --secondary: 271.5 30% 70%;
        --secondary-foreground: 0 0% 0%;
        --muted: 233.5 30% 85%;
        --muted-foreground: 271.5 5% 35%;
        --accent: 233.5 30% 80%;
        --accent-foreground: 271.5 5% 15%;
        --destructive: 0 100% 30%;
        --destructive-foreground: 271.5 5% 90%;
        --border: 271.5 30% 50%;
        --input: 261 64% 8%;
        --ring: 271.5 81.3% 55.9%;
        --radius: 0.5rem;
    }
    .dark {
        --background: 271.5 50% 6%;
        --foreground: 271.5 5% 90%;
        --bar: 240 5% 5%;
        --card: 271.5 40% 6%;
        --card-foreground: 271.5 5% 90%;
        --popover: 271.5 50% 5%;
        --popover-foreground: 271.5 5% 90%;
        --primary: 271.5 81.3% 55.9%;
        --primary-foreground: 0 0% 100%;
        --secondary: 271.5 30% 20%;
        --secondary-foreground: 0 0% 100%;
        --muted: 233.5 30% 25%;
        --muted-foreground: 271.5 5% 60%;
        --accent: 262 31% 25%;
        --accent-foreground: 271.5 5% 90%;
        --destructive: 0 100% 30%;
        --destructive-foreground: 271.5 5% 90%;
        --border: 271.5 30% 26%;
        --input: 261 64% 8%;
        --ring: 271.5 81.3% 55.9%;
        --radius: 0.5rem;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}

.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #09090a;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #5c5c7b;
    border-radius: 50px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #7878a3;
}
.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}



